# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
develop-eggs/
eggs/
.lib/
.lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.env
.venv/
env/
venv/

# PyEnv
.python-version

# Editor files
*.sublime-workspace
*.sublime-project
*.tmproj
*.tmsettings

# Operating system files
.DS_Store
Thumbs.db

# Miscellaneous
__pypackages__/
*.tmp

# Exclude the Postman collection export? (optional)
Middleware_Criptografia_Colecao.json
